In [1]:
import pandas as pd

In [2]:
df_dict = {'x1':[166.1732, 186.7266, 159.2694, 174.4309, 172.2638, 148.988, 159.2009,171.779, 163.1725, 165.4728, 172.9416, 168.9933],
          'x2':[55.6023, 87.3961, 55.2475, 71.6564, 65.7194, 53.0763, 48.4501, 70.6938, 64.6079, 71.5016, 71.4369, 75.5963],
          'y1':[-1.2778, 19.2756, -8.1816, 6.9799, 4.8128, -18.463, -8.2501, 4.328, -4.2785, -1.9782, 5.4906, 1.5423],
          'y2':[-10.3130, 21.4807, -10.6679, 5.7410, -0.1959, -12.8391, -17.4653, 4.77839, -1.3075, 5.5862, 5.5215, 9.6809]}

df = pd.DataFrame(df_dict)
df

          x1       x2       y1        y2
0   166.1732  55.6023  -1.2778 -10.31300
1   186.7266  87.3961  19.2756  21.48070
2   159.2694  55.2475  -8.1816 -10.66790
3   174.4309  71.6564   6.9799   5.74100
4   172.2638  65.7194   4.8128  -0.19590
5   148.9880  53.0763 -18.4630 -12.83910
6   159.2009  48.4501  -8.2501 -17.46530
7   171.7790  70.6938   4.3280   4.77839
8   163.1725  64.6079  -4.2785  -1.30750
9   165.4728  71.5016  -1.9782   5.58620
10  172.9416  71.4369   5.4906   5.52150
11  168.9933  75.5963   1.5423   9.68090

In [3]:
# (1) 각각의 데이터에서 신장과 체중의 평균을 구하시오
def mean_self(temp_column):
    temp_sum = 0
    for i in temp_column:
        temp_sum += i
    result = temp_sum / len(temp_column)
    
    return result

print("원데이터 신장 평균: {}".format(mean_self(df['x1'])))
print("원데이터 체중 평균: {}".format(mean_self(df['x2'])))

print("평균보정데이터 신장 평균: {}".format(mean_self(df['y1'])))
print("평균보정데이터 체중 평균: {}".format(mean_self(df['y2'])))

원데이터 신장 평균: 167.45100000000002
원데이터 체중 평균: 65.91538333333335
평균보정데이터 신장 평균: 7.401486830834377e-17
평균보정데이터 체중 평균: -8.333333335978447e-07

In [4]:
# (2) 각각의 데이터에서 신장과 체중의 분산을 구하시오.
def var_self(temp_column):
    temp_mean = mean_self(temp_column)
    temp_ss = 0
    
    for i in temp_column:
        temp_ss += (i - temp_mean)*(i-temp_mean)
    
    result = temp_ss/len(temp_column)
    
    return result
        
print("원데이터 신장 분산: {}".format(var_self(df['x1'])))
print("원데이터 체중 분산: {}".format(var_self(df['x2'])))

print("평균보정데이터 신장 분산: {}".format(var_self(df['y1'])))
print("평균보정데이터 체중 분산: {}".format(var_self(df['y2'])))

원데이터 신장 분산: 82.8687060633333
원데이터 체중 분산: 113.70136372638889
평균보정데이터 신장 분산: 82.86870606333332
평균보정데이터 체중 분산: 113.7011806126743