In [1]:
# 실습과제_sklearn으로 유저 평점 예측하기

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import pandas as pd 
import numpy as np

In [2]:
MOVIE_DATA_PATH = '../data/movie_rating.csv'

movie_rating_df = pd.read_csv(MOVIE_DATA_PATH)

movie_rating_df.head()

    romance    action    comedy  heart-warming  rating
0  0.740458  0.733800  0.526879       0.332906     3.0
1  0.658391  0.825211  0.608177       0.906809     5.0
2  0.680250  0.401992  0.400964       0.535223     2.0
3  0.572216  0.312618  0.496313       0.319996     1.0
4  0.543545  0.623021  0.713110       0.696774     4.0

In [3]:
movie_rating_df.columns

Index(['romance', 'action', 'comedy', 'heart-warming', 'rating'], dtype='object')

In [4]:
X = movie_rating_df[['romance', 'action', 'comedy', 'heart-warming']]
y = movie_rating_df[['rating']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

In [5]:
model = LinearRegression()

model.fit(X_train, y_train)

y_test_prediction = model.predict(X_test)
 
score = model.score(X_test, y_test)
mse = mean_squared_error(y_test, y_test_prediction)
mse = mse **0.5
print(y_test_prediction, score, mse)

[[3.83034441]
 [2.59418977]
 [2.63653566]
 [3.48333221]
 [2.75217812]
 [2.43303141]
 [3.03247628]
 [4.41312853]
 [4.28145539]
 [3.61139607]
 [3.82260281]
 [3.01099122]
 [3.06324646]
 [4.41401949]
 [4.08837667]
 [3.30347874]
 [4.69514621]
 [4.3397661 ]
 [3.42084949]
 [3.94638571]] 0.8329209093894 0.35162270554081687