In [1]:
import pandas as pd
import numpy as np

In [2]:
iphone_df = pd.read_csv('../data/week2/iphone.csv', index_col = 0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

In [4]:
print(iphone_df.loc['iPhone X', ])
print()
print(iphone_df.loc['iPhone X'])
print()
print(type(iphone_df.loc['iPhone X'])) # Series는 pandas의 1차원 자료형

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

<class 'pandas.core.series.Series'>

In [5]:
print(iphone_df.loc[:, '출시일'])
print()
print(iphone_df['출시일'])

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [6]:
# 실습과제_방송사 시청률 받아오기 1

df = pd.read_csv('../data/week2/broadcast.csv', index_col = 0)
print(df)
print()
df.loc[2016, 'KBS']

         KBS     MBC     SBS  TV CHOSUN   JTBC  Channel A    MBN
2011  35.951  18.374  11.173      9.102  7.380      3.771  2.809
2012  36.163  16.022  11.408      8.785  7.878      5.874  3.310
2013  31.989  16.778   9.673      9.026  7.810      5.350  3.825
2014  31.210  15.663   9.108      9.440  7.490      5.776  4.572
2015  27.777  16.573   9.099      9.940  7.267      6.678  5.520
2016  27.583  14.982   8.669      9.829  7.727      6.624  5.477
2017  26.890  12.465   8.661      8.886  9.453      6.056  5.215

27.583000000000002

In [7]:
# 실습과제_방송사 시청률 받아오기 2
df = pd.read_csv('../data/week2/broadcast.csv', index_col = 0)
df.loc[:,"JTBC"]
df['JTBC']

2011    7.380
2012    7.878
2013    7.810
2014    7.490
2015    7.267
2016    7.727
2017    9.453
Name: JTBC, dtype: float64

In [8]:
# 실습과제_방송사 시청률 받아오기 3
df = pd.read_csv('../data/week2/broadcast.csv', index_col = 0)
df.loc[:, ['SBS', "JTBC"]]
df[['SBS','JTBC']]

         SBS   JTBC
2011  11.173  7.380
2012  11.408  7.878
2013   9.673  7.810
2014   9.108  7.490
2015   9.099  7.267
2016   8.669  7.727
2017   8.661  9.453

In [9]:
# 실습과제_카드사 고객 분석
samsong_df = pd.read_csv('../data/week2/samsong.csv')
hyundee_df = pd.read_csv('../data/week2/hyundee.csv')

new_dict = {
    'day': samsong_df['요일'],
    'samsong': samsong_df['문화생활비'],
    'hyundee': hyundee_df['문화생활비']
}
new_df = pd.DataFrame(new_dict)
new_df

   day  samsong  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925

In [10]:
iphone_df
iphone_df.loc['iPhone X']
iphone_df.loc[['iPhone X', 'iPhone 8']]
type(iphone_df.loc[['iPhone X', 'iPhone 8']]) # DataFrame
iphone_df[['Face ID', '출시일', '메모리']]
iphone_df.loc[:'iPhone XS']
iphone_df['메모리':'Face ID']
iphone_df.loc[:,'메모리':'Face ID']
iphone_df.loc['iPhone 7': 'iPhone X', '메모리':'Face ID']

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes

In [11]:
# 실습과제_방송사 시청률 받아오기 4
df = pd.read_csv('../data/week2/broadcast.csv', index_col = 0)
df.loc[2012:2017, 'KBS':'SBS']

         KBS     MBC     SBS
2012  36.163  16.022  11.408
2013  31.989  16.778   9.673
2014  31.210  15.663   9.108
2015  27.777  16.573   9.099
2016  27.583  14.982   8.669
2017  26.890  12.465   8.661

In [12]:
iphone_df.loc[[True, False, True, True, False, True, False]]
iphone_df.loc[:, [True, False, True, False, True]]
iphone_df.loc[iphone_df['디스플레이']>5]
iphone_df.loc[iphone_df['Face ID'] == 'Yes']
condition = (iphone_df['디스플레이']>5) & (iphone_df['Face ID'] == 'Yes')
iphone_df.loc[[True, False, True, True, False, True, False]]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [13]:
# 실습과제_방송사 시청률 받아오기 5

condition = df.loc[:, 'KBS'] > 30
df.loc[condition, 'KBS']

2011    35.951
2012    36.163
2013    31.989
2014    31.210
Name: KBS, dtype: float64

In [14]:
# 실습과제_방송사 시청률 받아오기 6
condition = df.loc[:,'SBS'] < df.loc[:,'TV CHOSUN']
df.loc[condition, ['SBS', 'TV CHOSUN']]
print(condition)

2011    False
2012    False
2013    False
2014     True
2015     True
2016     True
2017     True
dtype: bool

In [15]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [16]:
print(iphone_df.iloc[2, 4])
print(iphone_df.iloc[[1,3], [1,4]]) # (1, 1), (1, 4), (3, 1), (3, 4)

No
               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [17]:
iphone_df.iloc[3: , 1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0